
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="assets/stylesheets/main.min.css">
    <title>Corona Forschungs-Studie des Universitätsklinikums Heidelberg | virusdetektiv.de</title>
    <meta name="description" content="Neuartige Corona-Teststrategien für die Allgemeinbevölkerung ✓ Gemeinsam gegen Covid-19 ✓ Freiwillige Speichelprobe ✓ Freiwilliger Fragebogen ✓ Gefördert vom Bundesministerium für Bildung und Forschung (BMBF)">

    <link rel="apple-touch-icon" href="assets/images/favicon.png" sizes="180x180">
    <link rel="icon" href="assets/images/favicon.png" sizes="32x32" type="image/png">
    <link rel="icon" href="assets/images/favicon.png" sizes="16x16" type="image/png">
    <link rel="manifest" href=>
    <link rel="mask-icon" href="" color="#563d7c">
    <link rel="icon" href="assets/images/favicon.png">
    <meta name="msapplication-config" content="">
    <meta name="theme-color" content="#563d7c">
    <meta name="google-site-verification" content="T7sO_Kq2Ev2X5LoZvWz7dJMzOESUqjIb0FrFzabWyhM" />

    

  </head>

  <body>

    
      <div class="DEVTOOL" id="theme-settings">
    <a href="javascript:void(0)" class="theme-settings-open-btn" tabindex="-1"></a>
    <h5 class="p-4 m-0 line-height-1 font-weight-bolder bg-light theme-settings-header"> Theme-Settings <a href="javascript:void(0)" class="theme-settings-close-btn font-weight-light px-4 py-2 text-dark" tabindex="-1">×</a> </h5>
    <div class="theme-settings-inner pt-4">
    <div class="theme-setting-box m-0 px-4 py-3">
    <h5 class="line-height-1 text-dark d-block">Templates</h5>
    <ul>
    <li><a href="">Startseite</a></li>
    
    </ul>	
    </div>
    <div class="theme-setting-box m-0 px-4 py-3">
    <h5 class="line-height-1 text-dark d-block">More options</h5>		
    <div class="form-checkx">
    <input type="checkbox" id="grid-show">
    <label for="grid-show">Show grid</label>
    </div>
    </div>
    </div>
</div>

<div class="DEVTOOL" id="grid-overlay" style="display: none;">
    <div class="container">
    <div class="row">
        <div class="col-1 col-sm-1 col-md-1 col-lg-1 col-xl-1 col-xxl-1 col-xxxl-1"><div class="column"></div></div>
        <div class="col-1 col-sm-1 col-md-1 col-lg-1 col-xl-1 col-xxl-1 col-xxxl-1"><div class="column"></div></div>
        <div class="col-1 col-sm-1 col-md-1 col-lg-1 col-xl-1 col-xxl-1 col-xxxl-1"><div class="column"></div></div>
        <div class="col-1 col-sm-1 col-md-1 col-lg-1 col-xl-1 col-xxl-1 col-xxxl-1"><div class="column"></div></div>
        <div class="col-1 col-sm-1 col-md-1 col-lg-1 col-xl-1 col-xxl-1 col-xxxl-1"><div class="column"></div></div>
        <div class="col-1 col-sm-1 col-md-1 col-lg-1 col-xl-1 col-xxl-1 col-xxxl-1"><div class="column"></div></div>
        <div class="col-1 col-sm-1 col-md-1 col-lg-1 col-xl-1 col-xxl-1 col-xxxl-1"><div class="column"></div></div>
        <div class="col-1 col-sm-1 col-md-1 col-lg-1 col-xl-1 col-xxl-1 col-xxxl-1"><div class="column"></div></div>
        <div class="col-1 col-sm-1 col-md-1 col-lg-1 col-xl-1 col-xxl-1 col-xxxl-1"><div class="column"></div></div>
        <div class="col-1 col-sm-1 col-md-1 col-lg-1 col-xl-1 col-xxl-1 col-xxxl-1"><div class="column"></div></div>
        <div class="col-1 col-sm-1 col-md-1 col-lg-1 col-xl-1 col-xxl-1 col-xxxl-1"><div class="column"></div></div>
        <div class="col-1 col-sm-1 col-md-1 col-lg-1 col-xl-1 col-xxl-1 col-xxxl-1"><div class="column"></div></div>
    </div>
    </div>
</div>

<!--Bootstrap 4 Viewporter -->
<div id="size-debugger-bs4" style="position: fixed;bottom: 50px;left: 50px;width: auto;padding-left:5px;padding-right:5px;height: 50px;border: 3px solid red;z-index: 9999999;background: #fff;opacity: 0.5;">
    <style> span.mnm-vp-bs4 {width: 100%;font-size: 30px;line-height: 40px;text-align: center;}</style>
    <span class="mnm-vp-bs4 d-block d-sm-none">XS</span>
    <span class="mnm-vp-bs4 d-none d-sm-block d-md-none">SM</span>
    <span class="mnm-vp-bs4 d-none d-md-block d-lg-none">MD</span>
    <span class="mnm-vp-bs4 d-none d-lg-block d-xl-none">LG</span>
    <span class="mnm-vp-bs4 d-none d-xl-block">XL</span>
</div>
<!--/Bootstrap 4 Viewporter -->
    
    
    <header id="site-header" class="site-header">
  <div class="container relative">
    <nav class="navbar navbar-expand-xxl navbar-dark">

      <button class="navbar-toggler collapsed" type="button" data-toggle="collapse" data-target="#main-nav" aria-expanded="false" aria-label="Toggle navigation">
        <div class="navbar-toggler-icon-animated">
          <span></span>
          <span></span>
          <span></span>
        </div>
      </button>

      <div class="navbar-brand d-none d-md-block">
        <a href="https://www.klinikum.uni-heidelberg.de/" title="Universitätsklinikum Heidelberg" target="_blank">
          <img src="assets/images/logos/UKHD-Color.svg" alt="Universitätsklinikum Heidelberg" title="Universitätsklinikum Heidelberg" width="120">
        </a>
      </div>

      <div class="navbar-brand d-none d-md-block">
        <a href="https://www.zmbh.uni-heidelberg.de/" target="_blank">
            <img src="assets/images/logos/ZMBH.png" alt="Zentrum für Molekulare Biologie der Universität Heidelberg (ZMBH)" title="Zentrum für Molekulare Biologie der Universität Heidelberg (ZMBH)" width="120">
        </a>
      </div>

      <div class="navbar-brand d-none d-md-block align-self-end">
        <a href="https://go.umg.eu/b-fast" title="Projekt B-FAST" target="_blank">
          <img src="assets/images/logos/B-FAST-Color.svg" alt="Projekt B-FAST" title="Projekt B-FAST" width="125">
        </a>
      </div>

      <div class="navbar-brand d-none d-md-block align-self-end pb-3">
        <a href="https://www.rhein-neckar-kreis.de/" target="_blank">
            <img src="assets/images/logos/logo-rhein-neckar-kreis.svg" alt="Rhein-Neckar-Kreis" title="Rhein-Neckar-Kreis" width="200">
        </a>
      </div> 

      <div class="navbar-brand brand-primary mr-0">
        <a href="/" title="virusdetektiv">
          <img src="assets/images/logos/virusdetektiv-Logo.svg" alt="virusdetektiv" title="virusdetektiv" width="205">
        </a>
      </div>




      <div class="collapse navbar-collapse" id="main-nav">
        <div class="container relative">
          <span class="close-menu"></span>
        </div>
        <div class="container">
          <div class="col-12 col-md-6">
            <ul class="navbar-nav">
              <li class="nav-item">
                <a class="nav-link" href="letter">Menu-Item 1 <span class="icon-arrow-right"></span></a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="generalinfo">Menu-Item 2 <span class="icon-arrow-right"></span></a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="info?tab=adults">Menu-Item 3 <span class="icon-arrow-right"></span></a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="links">Menu-Item 4 <span class="icon-arrow-right"></span></a>
              </li>
            </ul>
          </div>
          <div class="col-12 col-md-6">
            <div class="hero-overlay-contact d-block d-lg-none">
              <ul>
                <li class="list-item">
                    <div class="list-languages">
                        <a href="#!" class="icon-phone fn-language-switch"></a>
                        <a href="tel:+496221546851"><span>06221 - 54 6851</span></a>
                    </div>
                </li>
                <li class="list-item">
                    <div class="list-languages">
                          <a href="#!" class="icon-email fn-language-switch"></a>
                          <a href="mailto:info@virusdetektiv.de"><span>info@virusdetektiv.de</span></a>
                    </div>
                </li>
                <li class="list-item">
                    <div class="list-languages">
                          <a href="#!" class="icon-language fn-language-switch"></a>
                          <a href="https://www.virusdetektiv.de"><span>www.virusdetektiv.de</span></a>
                    </div>
                </li> 

                

              </ul>
            </div>
          </div>
        </div>
      </div>

    </nav>
  </div>

  <div id="site-header-sticky" class="site-header-sticky">
    <div class="site-header-sticky-bg"></div>
    <div class="container">
      <div class="row">
        <div class="col-12">
          <div class="sticky-header-inner d-flex">
            
            <button class="navbar-toggler collapsed" type="button" data-toggle="collapse" data-target="#main-nav" aria-expanded="false" aria-label="Toggle navigation">
              <div class="navbar-toggler-icon-animated">
                <span></span>
                <span></span>
                <span></span>
              </div>
            </button>

            <form action="token" method="POST" class="hero-overlay-form" autocomplete="off">
              {% csrf_token %}
              <input type="text" class="form-control form-control-lg" name="access_code" placeholder="Code eingeben und Testkits bestellen ...">
              <div class="hero-overlay-button">
                  <button class="btn btn-primary">Los geht´s!<span class="icon-arrow-right"></span></button>
              </div>
            </form>

            <a href="#!" class="btn btn-link">Testergebnis abfragen <span class="icon-arrow-right"></span></a>

            <div class="navbar-brand brand-primary mr-0">
              <a href="." title="virusdetektiv">
                <img src="assets/images/logos/virusdetektiv-Logo.svg" alt="virusdetektiv" title="virusdetektiv" width="115">
              </a>
            </div>

          </div>
        </div>
      </div>
    </div>
  </div>

</header>



    <main class="site-main" role="main">
      

<div class="container-fluid p-0" >
	<div class="row no-gutters">
		<div class="col-12">
			<div class="module module--hero">
				<div class="module-inner">
					<div class="hero-image">
						<div class="hero-image-container">
							<!--<img src="assets/images/hero-home.jpg" class="img-fluid w-100" alt="seo image text" loading="lazy" />-->
						</div>
					</div>
 
					<div class="hero-overlay"> 
						<div class="container h-100 relative">
              <div class="row h-100"> 
                <div class="col-12 col-xl-12 col-xxl-10 hero-overlay-container">
                  <div class="hero-overlay-pre text-uppercase">
                    <span>Dem Virus auf der Spur</span>
                  </div>
                  <div class="hero-overlay-title"><h1>Sie sind Dr. Watson und helfen uns<br> bei der Suche nach dem Virus</h1></div>
                  <div class="hero-overlay-text">Studie zur Erweiterung der Corona-Teststrategien für Kontaktpersonen</div>
                 
                  <form action="order" method="POST" class="hero-overlay-form" autocomplete="off">
                    {% csrf_token %}
                    <input type="text" class="form-control form-control-lg" name="access_code" placeholder="Code eingeben und Testkits bestellen ...">
                    <div class="hero-overlay-button">
                        <button class="btn btn-primary">Los geht´s!<span class="icon-arrow-right"></span></button>
                    </div>
                  </form>

                  <!--
                  <div class="hero-overlay-button">
                    
                    

                    <a href="#end" class="btn btn-light disabled">
                      <span class="line-through">An der Studie teilnehmen </span>
                      <span>Studie beendet </span>
                    </a>

                    
                   
                    
                    <a href="#end" class="btn btn-light disabled">
                      <span class="line-through">Testergebnis abfragen </span>
                      <span>Studie beendet </span>
                    </a> 

                  </div>
                  -->

                  
                  <div class="hero-overlay-additional two--links">
                      <a href="#!" class="btn btn-link">Testergebnis abfragen <span class="icon-arrow-right"></span></a>
                      <a href="#!" class="btn btn-link">Mehr über den Test erfahren <span class="icon-arrow-right"></span></a>
                  </div>
                  
                  <div class="hero-overlay-contact">
                    <ul>
                      <li class="list-item">
                          <div class="list-languages">
                              <a href="#!" class="icon-phone fn-language-switch"></a>
                              <a href="tel:+496221546851"><span>06221 - 54 6851</span></a>
                          </div>
                      </li>
                      <li class="list-item">
                          <div class="list-languages">
                                <a href="#!" class="icon-email fn-language-switch"></a>
                                <a href="mailto:info@virusdetektiv.de"><span>info@virusdetektiv.de</span></a>
                          </div>
                      </li>
                      <li class="list-item">
                          <div class="list-languages">
                                <a href="#!" class="icon-language fn-language-switch"></a>
                                <a href="https://www.virusdetektiv.de"><span>www.virusdetektiv.de</span></a>
                          </div>
                      </li> 

                      

                    </ul>
                  </div>

                </div>
              </div>
						</div> 
					</div>




				</div>
			</div>
		</div>
	</div>
</div>


<div class="container">
    <div class="row">
        <div class="col-12">
        [CONTENT GOES HERE]
        </div>
    </div>
</div>










    </main>

    <footer class="site-footer pt-4 mt-md-5 pt-md-5">

    <div class="site-footer-inner py-5 text-center"> 
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="logobar d-flex flex-wrap flex-lg-row justify-content-center align-items-md-center">
                        
                        <div class="logobar-item mr-lg-5">
                            <a href="https://www.klinikum.uni-heidelberg.de/" target="_blank">
                                <img src="assets/images/logos/UKHD-Color.svg" alt="Universitätsklinikum Heidelberg: Universitätsklinikum Heidelberg" title="Universitätsklinikum Heidelberg: Universitätsklinikum Heidelberg" width="120">
                            </a>
                        </div>

                        <div class="logobar-item mr-lg-5">
                            <a href="https://www.zmbh.uni-heidelberg.de/" target="_blank">
                                <img src="assets/images/logos/ZMBH.png" alt="Zentrum für Molekulare Biologie der Universität Heidelberg (ZMBH)" title="Zentrum für Molekulare Biologie der Universität Heidelberg (ZMBH)" width="120">
                            </a>
                        </div>


                        <div class="logobar-item align-self-end">
                            <a href="https://go.umg.eu/b-fast" target="_blank">
                                <img src="assets/images/logos/B-FAST-Color.svg" alt="Projekt B-FAST" title="Projekt B-FAST" width="150">
                            </a>
                        </div>

                        <div class="logobar-item align-self-end pb-3">
                            <a href="https://www.rhein-neckar-kreis.de/" target="_blank">
                                <img src="assets/images/logos/logo-rhein-neckar-kreis.svg" alt="Rhein-Neckar-Kreis" title="Rhein-Neckar-Kreis" width="200">
                            </a>
                        </div>


                        
                        <div class="logobar-item ml-xl-auto">
                            <a href="." title="virusdetektiv">
                            <img src="assets/images/logos/virusdetektiv-Logo.svg" alt="virusdetektiv" title="virusdetektiv" width="120">
                            </a>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>

    

    <div class="site-bottombar py-4">
        <div class="container">
            <div class="row no-gutters align-items-center">
                <div class="col-12 col-lg-4 order-2 order-lg-1">
                    <ul class="nav mt-3 mt-lg-0 justify-content-center justify-content-lg-start">
                        <li class="nav-item"><a href="imprint" class="nav-link">Impressum</a></li>
                        <li class="nav-item"><a href="privacy" class="nav-link">Datenschutzerklärung</a></li>
                    </ul> 
                </div>
                <div class="col-12 col-lg-4 order-1 order-lg-2 text-center">
                    <ul class="list-inline list-social-media my-3 px-4">
                        <li class="list-inline-item">
                            <a href="https://www.facebook.com/uniklinikumheidelberg/" target="_blank" class="icon-facebook"></a>
                        </li>       
                        <li class="list-inline-item">
                            <a href="https://twitter.com/uniklinik_hd" target="_blank" class="icon-twitter"></a>
                        </li>
                        <li class="list-inline-item">
                            <a href="https://youtube.com" target="_blank" class="icon-youtube"></a>
                        </li>
                        
                    </ul>
                </div>
                <div class="col-12 col-lg-4 order-3 order-lg-3 text-center text-lg-right">
                    <p class="m-lg-0 mt-4 mt-lg-0">© 2021 Universitäts-Klinikum Heidelberg</p>
                </div>
            </div>
        </div>
    </div>

</footer>

    

    <script defer src="assets/javascripts/libs.min.js"></script>
    <script defer src="assets/javascripts/main.min.js"></script>
    
  </body>
</html>